#cloud-config
strict: true
hostname: ...-{{ trunc 4 .MachineID }}
users:
  - name: ...
    passwd: kairos
    shell: /bin/bash
    ssh_authorized_keys:
      - github:...
    groups:
      - admin

auto:
  enable: true
#  ha:
#    enable: true
#    master_nodes: 2

k3s:
  enabled: true
  args:
    - --cluster-init
    - --disable=traefik,servicelb
    - --write-kubeconfig-mode 0644
  env:
    K3S_TOKEN: "..."

p2p:
  dns: false
  disable_dht: true
  network_id: ...
  network_token: "..."
  auto:
    enable: true
    ha:
      enable: true
  vpn:
    create: false
    enable: false

kubevip:
  enable: true
  eip: "192.168.100.240"

vpn:
  create: false
  use: false

install:
  device: "/dev/sda"
  auto: true
  reboot: true

bundles:
  - targets:
      - run://quay.io/kairos/community-bundles:longhorn_latest
      - run://quay.io/kairos/community-bundles:metallb_latest
      - run://quay.io/kairos/community-bundles:system-upgrade-controller_latest

metallb:
  version: 0.13.7
  address_pool: 192.168.100.100-192.168.100.199

longhorn:
  values:
    defaultSettings:
      backupstorePollInterval: 600
  version: 1.4.0

suc:
  version: v0.10.0

runcmd:
  - systemctl enable --now reboot-on-power-failure.service

write_files:
  - content: |-
      [Unit]
      Description=Reboot after power failure
      
      [Service]
      Type=oneshot
      ExecStart=sudo setpci -s 0:1f.0 0xa4.b=0
      
      [Install]
      WantedBy=sysinit.target

    path: /etc/systemd/system/reboot-on-power-failure.service
    permissions: "0644"
    owner: root
