server:
  port: {{ .Values.port }}
  ssl:
{{- with .Values.tls }}
{{- if .enabled }}
    enabled: true
{{- if or .keystore.issuerRef.name .keystore.secretRef.name }}
    key-store-type: {{ .keystore.type }}
    key-store: /app/config/tls/{{ .keystore.key }}
{{- end }}
{{- end }}
{{- end }}
