server:
  ssl:
{{- with .Values.tls }}
{{- if .enabled }}
{{- if or .keystore.issuerRef.name .keystore.secretRef.name }}
    key-password: {{ .keystore.keyPassword | quote }}
    key-store-password: {{ .keystore.password | quote }}
{{- end -}}
{{- end }}
{{- end }}
