javaToolOptions:
{{- with .Values.tls }}
{{- if .truststore.ref.name }}
  - {{ (printf "-Djavax.net.ssl.trustStore=/app/config/trust/%s" .truststore.ref.key) | quote }}
  - {{ (printf "-Djavax.net.ssl.trustStorePassword=%s" .truststore.password) | quote }}
{{- end }}
{{- end }}
{{- if .Values.debug.enabled }}
  - {{ printf "-agentlib:jdwp=transport=dt_socket,server=y,suspend=%s,address=*:%d" (ternary "y" "n" .Values.debug.suspend) (.Values.debug.port | int) }}
{{- end }}
