letsEncrypt:
  account:
  apiKey:
  dnsZones:
  - zengarden.space

gitea:
  host: git.int.zengarden.space
  path: /
  adminPassword:

cloudflare:
  tunnel:
    email: olekisy.pylypenko@gmail.com
    account:
    tunnelName:
    tunnelId:
    secret:
    host: zengarden.space
  dns:
    email:
    apiToken:
    host: zengarden.space

harbor:
  host: repo.dev.int.zengarden.space
  adminPassword:

dbOperator:
  host: db-operator.int.zengarden.space
  path: /
